.image{
    background-image: url('image/yoda.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.head{
    font-size: 2rem;
    color: aqua;
}
@media (min-aspect-ratio:16/9){
    .image{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .image{
        width: auto;
        height: 100%;
    }
}